<div class="view hm-black-strong">
    <div class="full-bg-img flex-center">
        <ul>
            <li>
                </br>
                </br>
                </br>
                <h1 class="h1-responsive wow fadeInDown" data-wow-delay=0.2s>Welcome With The Best Kitchen Inventory App</h1></li>
            <li>
                <a target=_blank href="/users/sign_up" class="btn btn-primary btn-lg wow fadeInLeft" data-wow-delay=0.2s rel=nofollow>Sign up!</a>
                <a target=_blank href="/users/sign_in" class="btn btn-default btn-lg wow fadeInRight" data-wow-delay=0.2s rel=nofollow>Login</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<section class=section>
    <div class=divider-new>
        <h2 class="h2-responsive wow fadeIn" data-wow-delay=0.2s>FRESH FOOD</h2>
    </div>
    <p class=section-description>SELECT AN ITEM TO GET STARTED</p>
    <div class=row>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('fridge/fridge.jpg', :alt => "Fridge", :class => "img-fluid") %>

                    <div class="stripe dark">

                          <a href="/users/sign_in">
                          <p class="text-center">FRIDGE<i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('cabinet/cabinet.jpg', :alt => "Cabinet", :class => "img-fluid") %>

                    <div class="stripe light">
                        <a href="#">
                            <p class="text-center">CABINET<i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('pantry/3.png', :alt => "Pantry", :class => "img-fluid") %>

                    <div class="stripe dark">
                        <a>
                            <p class="text-center">PANTRY<i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 mb-r">
            <div class="card collection-card z-depth-1-half">
                <div class="view hm-zoom">
                    <%= image_tag('assoss/2.jpg', :alt => "ACCESSORIES", :class => "img-fluid") %>

                    <div class="stripe light">
                        <a href="accessories">
                            <p class="text-center">ACCESSORIES <i class="fa fa-chevron-right"></i></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</div>
  <div class="content-section-a" style="background-color:#fff;">


          <div class="row">
              <div class="col-lg-5 col-sm-6 col-md-offset-1">

                  <h2 class="section-heading">Remember Everything</h2>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <p class="lead">Add All of the fruits and food in to your fridge.Fresh Fridge Will keep all of the things save.</p>
              </div>
              <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                <%= image_tag('/assets/ipad.png', :alt => "Remember Every Thing", :class => "img-responsive") %>


              </div>
          </div>


      <!-- /.container -->

  </div>
  <div class="content-section-b" style="background-color:#f9f9f9;">


          <div class="row">
              <div class="col-lg-5 col-lg-offset-1 col-sm-push-5  col-sm-6">

                  <h2 class="section-heading">Work Smarter</h2>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <p class="lead">Fresh Fridge work smartley and save all of the things that you want for your kitchen.</p>
              </div>
              <div class="col-lg-4 col-sm-pull-5  col-sm-6">
                <%= image_tag('/assets/benefit-2.png', :alt => "Work Smarter", :class => "img-responsive") %>

              </div>
          </div>

  </div>
  <div class="content-section-a" style="background-color:#fff;">


          <div class="row">
              <div class="col-lg-5 col-sm-6 col-md-offset-1 ">

                  <h2 class="section-heading">Bring It All Together</h2>
                  <hr class="section-heading-spacer">
                  <div class="clearfix"></div>
                  <p class="lead">Fresh Fridge Brings All  the things of your kitchen together,e-g you can add your kitchen things in to the fresh fridge cabinet and pantry.Also make recpeies.</p>
              </div>
              <div class="col-lg-4 col-lg-offset-1 col-sm-6">
                <%= image_tag('/assets/benefit-3.png', :alt => "Work Smarter", :class => "img-responsive") %>

              </div>
          </div>

  </div>

<div class="view hm-black-strong" style="background-image: url('/assets/cooking.png') !important;">
    <div class="full-bg-img flex-center">
        <ul>
            <li>
                </br>
                </br>
                </br>
                <h1 class="h1-responsive wow fadeInDown" data-wow-delay=0.2s>Lets Get Started !</h1></li>
                <h2 class="h1-responsive wow fadeInDown" data-wow-delay=0.2s>Check Out the Fresh Fridge Latest Recepies...</h2></li>
            <li>
                <a target=_blank href="" class="btn btn-default btn-lg wow fadeInRight" data-wow-delay=0.2s style="background-color:#ff7300;" rel=nofollow>Cook</a>
            </li>
        </ul>
    </div>
</div>
