<main>
    <div class="container">
        <div class="row wow fadeIn" data-wow-delay="0.2s">
            <div class="col-md-10 col-md-offset-1">
                <div class="jumbotron">
                    <h2 class="h2-responsive">Listing All Items Of Your Fridge</h2>
                    <br><hr>
                    <p class="text-center"><%= link_to 'Add New Item', new_fridge_path, class: "btn btn-outline-success waves-effect" %></p>
                    <hr>

                   <%= link_to "Grid", {controller: "fridge_grid", action: "index"}, class: "btn btn-primary btn-rounded2 btn-sm" %>
                   <%= link_to "List", {controller: "fridges", action: "index"}, class: "btn btn-secondary btn-rounded2 btn-sm" %>

                </div>
            </div>
        </div>

        <hr class="extra-margins">
        <div class="row">

          <% unless @fridges.blank? %>
          <% @fridges.each do |fridge| %>
            <div class=col-md-3 >
                <br/><br/>
                <div class="card card-cascade narrower" style="background-color:#fff;">
                    <div class="view overlay hm-white-slight" style="height:35% !important;">
                      <%= image_tag(fridge.image.url(:medium), :alt => "Fridge Item", :class => "img-fluid")%>

                        <a>
                            <div class="mask waves-effect waves-light"></div>
                        </a>
                    </div>
                    <div class="card-block text-center">
                        <a href class=text-muted>
                            <h5><%= fridge.Amount %></h5>
                        </a>
                        <h4 class=card-title style="font-size: 1.5rem;">
                          <strong>
                              <%= link_to fridge.Name, fridge_path(fridge) %>
                          </strong>
                        </h4>
                        <div class=card-footer>
                            <span class=left><%= fridge.Amount %></span>
                            <span class=right>
                                <%= truncate(fridge.Quantity) %>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <% end %>
        </div>

  <% end %>
</main>
